@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Bem-Vindo à Gestão de Bilbioteca</h1>
</div>
<div class="jumbotron">
    <h1></h1>
</div>
<div class="row">
    <div class="col-md-4">

        <p>
            Esse sistema foi feito com Entity Framework 6 usando
            ASP.NET MVC 5.
        </p>
    </div>

    <div class="col-md-4">

        <p>
            Com essa aplicação é possível cadastrar categorias de livros, livros, usuários e autores e gerenciar os empréstimos e devoluções dos livros através do CRUD.
        </p>
    </div>
    <div class="col-md-4">
        <p>
            Aplicação desenvolvida para a avaliação prática do processo seletivo CREA-MT.
        </p>
    </div>

</div>
