@model TesteBiblioteca.Models.Categoria

@{
    ViewData["Title"] = "Edit";
}
<div>
    <a asp-action="Index">Voltar</a>
</div>
<h1>Editar</h1>

<h4>Categoria</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CatID" />
            <div class="form-group">
                <label asp-for="CatNome" class="control-label">NOME</label>
                <input asp-for="CatNome" class="form-control" />
                <span asp-validation-for="CatNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <label asp-for="CatStatus" class="control-label">STATUS</label>
                    <table>
                        <tr>
                            <td>@Html.RadioButtonFor(model => model.CatStatus, true) <text>Ativo  </text></td>
                            <td>@Html.RadioButtonFor(model => model.CatStatus, false) <text>Desativado</text></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
