@model IEnumerable<TesteBiblioteca.Models.Categoria>

@{
    ViewData["Title"] = "Index";
}

<h1>Categorias</h1>

<p>
    <a asp-action="Create">CADASTRAR NOVA</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Categoria
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CatNome)
            </td>
            <td>
                @if (item.CatStatus)
                {
                    <text>Ativo</text>
                }
                else
                {
                    <text>Desativado</text>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CatID">EDITAR</a> |
               
                <a asp-action="Delete" asp-route-id="@item.CatID">DELETAR</a>
            </td>
        </tr>
}
    </tbody>
</table>
